.dropzone.filefield {
	min-height: 26px;
	width: 320px;
}
.dropzone.filefield.increase {
	min-height: 100px;
	width: 320px;
	background: green;
	color: #fff;
}
#progress-bar{
	width: 100%;
	height: 30px;
	background: white;
}
.progress-bar{
	height: 30px;
	background: white;
}

.dropzone.dz-started .dz-message{
	display: block;
}
.dropzone .dz-preview{
	width: 100%;
	min-height: 10px;
}
.dropzone .dz-preview .dz-progress{
	width: 100%;
}
.dropzone .dz-preview .dz-progress{
	width: 100%;
}