/*! fontok */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,400italic,600,600italic,700italic,700&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,300italic,300&subset=latin,latin-ext);

/*! általános felépítés */
body {
	background:#e4e7ea;
	min-height: 100%;
	color:#4C5661;
}

body, html {
	font-family: 'Source Sans Pro', sans-serif;
	height:100%;
	overflow-x:hidden;
}

@media (max-width: 991px) {
	body, html {
		height:auto;
	}
}

#page {
	position:relative;
	min-height:100%;
}

@media (min-width: 991px) {	
	body.width-80 #page {
		width:90%;
		margin:0 auto;
		overflow:hidden;
	}
	
	body.width-60 #page {
		width:80%;
		margin:0 auto;
		overflow:hidden;
	}
	
	body.width-80 #content .header, body.width-60 #content .header {
		border-right:1px solid #D3D7DB;
	}
	
	body.width-80 #content-inner, body.width-60 #content-inner {
		padding:20px 0;
		-webkit-transition:padding 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
		-moz-transition:padding 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
		-o-transition:padding 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
		transition:padding 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
		-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		-moz-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		-o-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
	}
	
	body.width-80.nav-open #content-inner, body.width-60.nav-open #content-inner {
		padding-left:20px;
	}
	
	body.positon-nav-f #navigation {
		position:fixed;
		left:auto !important;
	}
	
	body.positon-nav-f #content {
		margin-left:230px;
	}
	
	body.positon-nav-f #content .header #nav-collapse {
		display:none;
	}
}

@media (min-width: 1170px) {
	body.width-60 #page {
		width:70%; 
	}
	body.width-80 #page {
		width:80%;
	}
}

@media (min-width: 1580px) {
	body.width-60 #page {
		width:60%;
	}
}
/*! segítő */
.nomargin {
	margin:0 !important;
}

.nopadding {
	padding:0 !important;
}

.valign-middle td, .valign-middle th {
	vertical-align:middle !important;
}

.mb10 {
	margin-bottom:10px;
}

.mb15 {
	margin-bottom:15px;
}

.mb20 {
	margin-bottom:20px;
}

.mt10 {
	margin-top:10px;
}

.mt15 {
	margin-top:15px;
}

.mt20 {
	margin-top:20px;
}

/*! skin */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p {
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}

a {
	color:#3E4B5C;
	transition: color 0.2s linear 0s;
}

a:hover, a:focus {
	color:#e24451;
	text-decoration:none;
}

.dropdown-menu {
	top:100%;
	padding:0;
	margin-top:5px;
}

.dropdown-menu li {
	border-bottom: 1px solid #E6E6E6;
}

.dropdown-menu li a {
	color:#4C5661;
	padding: 8px 15px;
	transition: all 0.2s linear 0s;
	cursor:pointer;
}

.dropdown-menu li a:hover {
	background:none;
	color:#e24451;
}

.dropdown-menu li:last-child {
	border-bottom:0;
	
}

#navigation .dropdown-menu:before {
  position: absolute;
  top: -10px;
  left:50%;
  margin-left:-11px;
  display: inline-block;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ccc;
  border-left: 10px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

#navigation .dropdown-menu {
	margin-top:10px;
}

#navigation .dropdown-menu:after {
  position: absolute;
  top: -9px;
  left:50%;
  margin-left:-10px;
  display: inline-block;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #ffffff;
  border-left: 9px solid transparent;
  content: '';
}

.jumbotron {
	padding:20px;
}

.jumbotron h1, .jumbotron .h1 {
	font-size:54px;
}

.panel {
	border-radius:2px;
	-wekit-border-radius:2px;
	-mozd-border-radius:2px;
}

.panel-default {
	border-color:#D3D7DB;
}

.panel-heading {
	background-color:#F7F7F7;
    border-color:#D3D7DB;
    color:#4C5661;
	font-size:16px;
	font-weight:600;
	border-radius:0;
	-wekit-border-radius:0;
	-mozd-border-radius:0;
}

.panel-heading small.edittext {
	color:#999;
}

.btn {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:600;
	border:0;
}

.btn-primary {
	background-color: #4C5661;
    border-color: #434c55;
    color: #FFFFFF;
	border-bottom-color:#31373e;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
	color: #fff;
	background-color: #3a414a;
	border-color: #434c55;
	border-bottom-color:#31373e;
}

.btn-default {
	background-color: #dee3e6;
	border-color:#ced2d5;
    border-bottom-color: #96999b;
    color: #6c7481;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
	background-color: #ced2d5;
    border-color: #ced2d5;
	border-bottom-color: #96999b;
    color: #6c7481;
}

.btn-success {
	color: #fff;
	background-color: #57af57;
	border-color:#51a251;
	border-bottom-color: #398439;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
	color: #fff;
	background-color: #51a251;
	border-color:#51a251;
	border-bottom-color:#3b763b;
}

.btn-info {
	color: #fff;
	background-color: #56b6d3;
	border-color: #50a9c3;
	border-bottom-color:#3a7b8e;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
	color: #fff;
	background-color: #50a9c3;
	border-color: #50a9c3;
	border-bottom-color:#3a7b8e;
}

.btn-warning {
	color: #fff;
	background-color: #e4a44a;
	border-color: #d39845;
	border-bottom-color:#996f32;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
	color: #fff;
	background-color: #b7843b;
	border-color: #d39845;
	border-bottom-color:#996f32;
}

.btn-danger {
	color: #fff;
	background-color: #ce4f4b;
	border-color: #bf4945;
	border-bottom-color:#8b3532;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
	color: #fff;
	background-color: #a53f3c;
	border-color: #bf4945;
	border-bottom-color:#8b3532
}

label {
	font-weight:600;
}

.form-control {
	border:1px solid #D3D7DB;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	border-radius:2px;
	-wekit-border-radius:2px;
	-mozd-border-radius:2px;
}

.form-control:focus {
	border:1px solid #999;
	box-shadow:none !important;
	-webkit-box-shadow:none !important;
	-moz-box-shadow:none !important;
}

input[type="file"] {
	height:auto !important;
}

.middle-align {
	vertical-align:middle !important;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	background:#4C5661;
}

.pagination > li > a, .pagination > li > span {
	color:#3E4B5C;
}

.pagination > li > a:hover, .pagination > li > span:hover {
	color:#e24451;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus  {
	background:#3E4B5C;;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	border:0;
	border-bottom:2px solid #e24451;
	color:#e24451
}

.nav > li > a:hover, .nav > li > a:focus {
	background:none;
	border-color:transparent;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
	background:none;
	border-color:transparent;
}

.pager-select {
	padding:5px;
}

@media (max-width: 768px) {
	.breadcrumb a {
		display:none;
	}
	
	.breadcrumb > li + li:before {
		content:"";
		padding:0;
	}
	
	.breadcrumb > li {
		padding:0;
	}
}

.breadcrumb {
	float:left;
	background:none !important;
	padding:0;
	margin:22px 0 0 15px;
	font-size:14px;
}

.breadcrumb > .active {
	color:#4c5661;
}

.breadcrumb a {
	color:#999;
}

.breadcrumb a:hover {
	color:#E24451;
}

.breadcrumb .fa {
	font-size:16px;
	margin-right:5px;
}

.input-group-btn > .btn {
	padding:7px 12px;
}

.glyphicon {
	top:2px;
}

@media (min-width: 768px) {
.table-responsive .table{
	border:1px solid #ddd;
}
}

.table-sort-icon {
	margin-left:5px;
}

.table-sort-icon.active {
	color:#e24451;
}

.table > thead > tr > th {
	background:#f7f7f7;
}

@media (min-width: 768px) {
	/*! szűrő */
	.table-filter {
		float:left;
		margin:0;
		height:auto;
		min-height:20px;
		padding:3px;
	}
	
	.table-filter .container-fluid {
		padding:0;
	}
	
	.table-filter .navbar-brand {
		font-size:12px;
		height:30px;
		line-height:29px;
		padding:0;
		margin:0 10px 0 6px !important;	
	}
	
	.table-filter .navbar-form {
		margin:0;
		padding:0;
	}
	
	.table-filter #filter {
		float:left;
		margin:0;
		padding:0;
	}
}

/*! lapozó */
.pagination-select {
	display:none;
}
@media (max-width: 768px) {
	.pagination-normal {
		display:none;
	}
	
	.pagination-select {
		display:block;
	}
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	color:#4c5661;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
	background: #4c5661;
	color:#fff;
	border-color:#4c5661;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	color:#e24451;
}

/*! ikonlista */
.icon-list {
	font-size:16px;
}

.icon-list div {
	margin-bottom:5px;
}

.icon-list div:hover {
	color:#e24451;
}

.icon-list .fa, .icon-list .glyphicon {
	display:inline-block;
	width:16px;
	height:16px;
	margin-right:5px;
}

textarea.form-control {
	max-width:100%;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	background:#4c5661;
	border-color:#4c5661;
}

/*! tree table */
.tree-table .lvl-1 {
	padding-left:50px;
}

.tree-table .lvl-2 {
	padding-left:100px;
}

.tree-table .lvl-3 {
	padding-left:150px;
}

.tree-table .lvl-4 {
	padding-left:200px;
}

.tree-table .lvl-5 {
	padding-left:250px;
}

.tree-table .lvl-6 {
	padding-left:300px;
}

.tree-table .lvl-7 {
	padding-left:350px;
}

.tree-table .lvl-8 {
	padding-left:400px;
}

.tree-table .lvl-9 {
	padding-left:450px;
}

.tree-table .lvl-10 {
	padding-left:450px;
}

/*! belépés */

/*! navigáció */
#navigation {
	position:absolute;
	left:-240px;
	top:0;
	bottom:0;
	width:240px;
	background:#2a313a;
	border-right:1px solid #3c434d;
	overflow-y:auto;
	-ms-overflow-style: none;
	-webkit-transition:left 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
	-moz-transition:left 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
	-o-transition:left 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
	transition:left 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
	-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	-moz-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	-o-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
}

#navigation::-webkit-scrollbar { 
    display: none; 
}

#navigation .header {
	background:#3e4b5c;
	height:65px;
	z-index:2;
}

#navigation .header .avatar {
	float:left;
	margin:12px 15px;
	width:41px;
	height:41px;
	overflow:hidden;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
}

#navigation .header .avatar img {
	width:41px;
	height:41px;
}

#navigation .header .user {
	margin:22px 0;
}

#navigation .header .user > a {
	color: #F0F5FA;
	font-size: 15px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	cursor:pointer;
}

#navigation .header .user > a:hover {
	text-decoration:none;
}

#navigation .header .user b {
	margin:-1px 0 0 5px;
}

#navigation .header .fa {
	float:right;
	font-size:24px;
	margin:10px 15px 0 0;
	cursor:pointer;
}

#navigation .header .dropdown-menu {
	left:35px;
}

#navigation .blocktitle {
	color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 0.5px;
	padding:10px 15px 3px;
    text-shadow: 1px 1px #000000;
    text-transform: uppercase;
	margin:20px 0 0 0;
}

#navigation .nav > li > a, #navigation .nav .dropdown-menu a {
	display:block;
    color: #ECF6FF;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    transition: background 0.05s linear 0s;
	cursor:pointer;
	margin:2px 0;
}

#navigation .nav > li > a:hover, #navigation .nav .dropdown-menu a:hover {
	background:#3E4B5C;
}

#navigation .nav > li > a:focus {
	background:none;
}

#navigation .nav a b {
	float:right;
	margin-top:9px;
}

#navigation .nav li.disabled a {
	cursor:not-allowed;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	opacity: 0.5;
}

#navigation .nav li.active > a {
	background: #5b6479;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzViNjQ3OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0YzU1NjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #5b6479 0%, #4c5566 100%) !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5b6479), color-stop(100%,#4c5566)) !important;
	background: -webkit-linear-gradient(top, #5b6479 0%,#4c5566 100%) !important;
	background: -o-linear-gradient(top, #5b6479 0%,#4c5566 100%) !important;
	background: -ms-linear-gradient(top, #5b6479 0%,#4c5566 100%) !important;
	background: linear-gradient(to bottom, #5b6479 0%,#4c5566 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b6479', endColorstr='#4c5566',GradientType=0 ) !important;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.16) inset;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

#navigation .nav li.active .dropdown-menu {
	display:block;
}

#navigation .nav li.open > a {
	background:#3E4B5C;
}

#navigation .nav .fa {
	margin-right:10px;
	width:14px;
}

#navigation .nav .dropdown-menu {
	position:relative;
	background:#1f252b;
	box-shadow:none;
	border:none;
	float:none;
	margin:0;
}

#navigation .nav .dropdown-menu a {
	padding-left:43px;
}

#navigation .nav .dropdown-menu li {
	border:0;
}

#navigation .nav .dropdown-menu li.open a {
	background:none;
	color:#e24451;
}

#navigation .nav .dropdown-menu:before, #navigation .nav .dropdown-menu:after {
	display:none;
}

body.nav-open #navigation {
	left:0px;
}
/*! tartalom alap */

#content {
	margin-left:0;
	min-height:500px;
	-webkit-transition:margin 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
	-moz-transition:margin 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
	-o-transition:margin 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
	transition:margin 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */	
	-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	-moz-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	-o-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
}

body.nav-open #content {
	margin-left:240px;
}

#content .header {
	z-index:1;
	width:100%;
	background:#f7f7f7;
	color:#4C5661;
	font-size:18px;
	height:66px;
	border-bottom:1px solid #d3d7db;
}

#content .header #nav-collapse, #content #nav-settings {
	float:left;
	font-size:24px;
	margin:15px 20px;
	cursor:pointer;
	color:#4C5661;
}

#content .header #nav-collapse {
	margin-right:0;
}

#content .header #nav-collapse:hover, #content #nav-settings:hover {
	color:#e24451; 
}

#content #nav-settings {
	float:right;
	margin-left:0;
}

#content .header .title {
	float:left;
	margin:22px 0 0 15px;
	font-size:18px;
}

#content-inner {
	padding:20px;
}

#content-inner #ajaxcontent > h2.title, #content-inner > h2.title {
	margin:10px 0;
	font-size:24px;
}

@media (max-width: 991px) {
	body.nav-open #content {
		margin-right:-230px;
	}
}

/* tinyfix on mobile browsers, I set a width of 100% */
.mceEditor table {
max-width:none; /* Bug in computation of fullscreen */
}

.mceEditor table.mceLayout {
width:100% !important;
height:auto !important;
}

table.mceToolbar { float:left; }
body .mceToolbar div {
white-space:normal;
}

/* tinyfix on large screens, I use a different layout, so 600px are sufficient 
@media only screen and (min-width: 600px) {
    table.mceLayout, textarea.richEditor {
       width: 600px !important;
    }
}*/

/*! timepicker custom */
/*!
 * Datepicker for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */
.bootstrap-datetimepicker-widget ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

.bootstrap-datetimepicker-widget ul li {
	padding:0;
}

.bootstrap-datetimepicker-widget .prev, .bootstrap-datetimepicker-widget .switch, .bootstrap-datetimepicker-widget .next {
	text-align:center;
}

.bootstrap-datetimepicker-widget .picker-switch a {
	display:block;
	padding:7px 0;
	text-align:center;
}

.bootstrap-datetimepicker-widget .picker-switch a:hover {
	color:#e24451;
}
 
.hide-text {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0
}
.input-block-level {
	display: block;
	width: 100%;
	min-height: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
.bootstrap-datetimepicker-widget {
	top: 0;
	left: 0;
	width: 250px;
	padding: 4px;
	margin-top: 1px;
	z-index: 3000;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px
}
.bootstrap-datetimepicker-widget>ul {
	list-style-type: none;
	margin: 0
}
.bootstrap-datetimepicker-widget .timepicker-hour, .bootstrap-datetimepicker-widget .timepicker-minute, .bootstrap-datetimepicker-widget .timepicker-second {
	width: 100%;
	font-weight: bold;
	font-size: 1.2em
}
.bootstrap-datetimepicker-widget table[data-hour-format="12"] .separator {
	width: 4px;
	padding: 0;
	margin: 0
}
.bootstrap-datetimepicker-widget .datepicker>div {
	display: none
}
.bootstrap-datetimepicker-widget .picker-switch {
	text-align: center
}
.bootstrap-datetimepicker-widget table {
	width: 100%;
	margin: 0
}
.bootstrap-datetimepicker-widget td, .bootstrap-datetimepicker-widget th {
	text-align: center;
	width: 20px;
	height: 20px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px
}
.bootstrap-datetimepicker-widget td.day:hover, .bootstrap-datetimepicker-widget td.hour:hover, .bootstrap-datetimepicker-widget td.minute:hover, .bootstrap-datetimepicker-widget td.second:hover {
	background: #eee;
	cursor: pointer
}
.bootstrap-datetimepicker-widget td.old, .bootstrap-datetimepicker-widget td.new {
	color: #999
}
.bootstrap-datetimepicker-widget td.active, .bootstrap-datetimepicker-widget td.active:hover {
	color: #fff;
	background-color: #006dcc;
	background-image: -moz-linear-gradient(top, #08c, #04c);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#04c));
	background-image: -webkit-linear-gradient(top, #08c, #04c);
	background-image: -o-linear-gradient(top, #08c, #04c);
	background-image: linear-gradient(to bottom, #08c, #04c);
	background-repeat: repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
	border-color: #04c #04c #002a80;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
*background-color:#04c;
filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25)
}
.bootstrap-datetimepicker-widget td.active:hover, .bootstrap-datetimepicker-widget td.active:hover:hover, .bootstrap-datetimepicker-widget td.active:active, .bootstrap-datetimepicker-widget td.active:hover:active, .bootstrap-datetimepicker-widget td.active.active, .bootstrap-datetimepicker-widget td.active:hover.active, .bootstrap-datetimepicker-widget td.active.disabled, .bootstrap-datetimepicker-widget td.active:hover.disabled, .bootstrap-datetimepicker-widget td.active[disabled], .bootstrap-datetimepicker-widget td.active:hover[disabled] {
	color: #fff;
	background-color: #04c;
*background-color:#003bb3
}
.bootstrap-datetimepicker-widget td.active:active, .bootstrap-datetimepicker-widget td.active:hover:active, .bootstrap-datetimepicker-widget td.active.active, .bootstrap-datetimepicker-widget td.active:hover.active {
	background-color: #039 \9
}
.bootstrap-datetimepicker-widget td.disabled, .bootstrap-datetimepicker-widget td.disabled:hover {
	background: 0;
	color: #999;
	cursor: not-allowed
}
.bootstrap-datetimepicker-widget td span {
	display: block;
	width: 47px;
	height: 54px;
	line-height: 54px;
	float: left;
	margin: 2px;
	cursor: pointer;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px
}
.bootstrap-datetimepicker-widget td span:hover {
	background: #eee
}
.bootstrap-datetimepicker-widget td span.active {
	color: #fff;
	background-color: #006dcc;
	background-image: -moz-linear-gradient(top, #08c, #04c);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#04c));
	background-image: -webkit-linear-gradient(top, #08c, #04c);
	background-image: -o-linear-gradient(top, #08c, #04c);
	background-image: linear-gradient(to bottom, #08c, #04c);
	background-repeat: repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
	border-color: #04c #04c #002a80;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
*background-color:#04c;
filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25)
}
.bootstrap-datetimepicker-widget td span.active:hover, .bootstrap-datetimepicker-widget td span.active:active, .bootstrap-datetimepicker-widget td span.active.active, .bootstrap-datetimepicker-widget td span.active.disabled, .bootstrap-datetimepicker-widget td span.active[disabled] {
	color: #fff;
	background-color: #04c;
*background-color:#003bb3
}
.bootstrap-datetimepicker-widget td span.active:active, .bootstrap-datetimepicker-widget td span.active.active {
	background-color: #039 \9
}
.bootstrap-datetimepicker-widget td span.old {
	color: #999
}
.bootstrap-datetimepicker-widget td span.disabled, .bootstrap-datetimepicker-widget td span.disabled:hover {
	background: 0;
	color: #999;
	cursor: not-allowed
}
.bootstrap-datetimepicker-widget th.switch {
	width: 145px
}
.bootstrap-datetimepicker-widget th.next, .bootstrap-datetimepicker-widget th.prev {
	font-size: 21px
}
.bootstrap-datetimepicker-widget th.disabled, .bootstrap-datetimepicker-widget th.disabled:hover {
	background: 0;
	color: #999;
	cursor: not-allowed
}
.bootstrap-datetimepicker-widget thead tr:first-child th {
	cursor: pointer
}
.bootstrap-datetimepicker-widget thead tr:first-child th:hover {
	background: #eee
}
.bootstrap-datetimepicker-widget.left-oriented:before {
	left: auto;
	right: 6px
}
.bootstrap-datetimepicker-widget.left-oriented:after {
	left: auto;
	right: 7px
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }

/* datepicker z-index fix */
.ui-datepicker {
    z-index: 100 !important;
}

.multiSelect-block {
    width: 450px;
    margin-bottom: 50px;
}

.multiSelect-block .multiSelect-search-input {
    width:100%;
}
.multiSelect-block .list-left {
    float: left;
    width: 50%;
}
.multiSelect-block .list-right {
    float: left;
    width: 50%;
}
.multiSelect-block ul {
    list-style: none;
}
.ms-clear {
    clear: both;
}html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline}:focus{outline:0}body{line-height:1;color:black;background:white}ol,ul{list-style:none}table{border-collapse:separate;border-spacing:0}caption,th,td{text-align:left;font-weight:normal}blockquote:before,blockquote:after,q:before,q:after{content:""}blockquote,q{quotes:"" ""}b,strong{font-weight:bold}em{font-style:italic}.clear:before,.clear:after{content:"";display:table}.clear:after{clear:both}.clear{zoom:1}* html{font-size:87.5%}html{font-size:14px;line-height:1.42857em}*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}#fancybox-wrap,#fancybox-wrap *{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}b,strong{font-weight:bold}em,i{font-style:italic}.hidden{display:none !important}.inline-block{display:inline-block;zoom:1;*display:inline;margin:0 auto}.transform{text-transform:uppercase}.transition{-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease}.transitionShort{-webkit-transition:all 0.2s cubic-bezier(0.25, 0.25, 0.015, 0.985);-moz-transition:all 0.2s cubic-bezier(0.25, 0.25, 0.015, 0.985);-o-transition:all 0.2s cubic-bezier(0.25, 0.25, 0.015, 0.985);transition:all 0.2s cubic-bezier(0.25, 0.25, 0.015, 0.985)}.transitionCat{-webkit-transition:all 1s ease;-moz-transition:all 1s ease;-o-transition:all 1s ease;transition:all 1s ease}html{font-size:22px}body{font-size:22px}a{text-decoration:none}.t-indent{text-align:left;text-indent:-9999px}.o-hidden{overflow:hidden}.o-visible{overflow:visible}.f-left{float:left !important}.f-right{float:right !important}.a-left{text-align:left !important}.a-right{text-align:right !important}.a-justify{text-align:justify !important}.a-center{text-align:center !important}.c-left{clear:left}.c-right{clear:right}.c-both{clear:both}.c-none{clear:none}.page-inner{max-width:1218px;min-width:310px;padding:0 10px;margin:auto;position:relative}a.button{display:inline-block;zoom:1;*display:inline}.mb-0{margin-bottom:0px !important}.mb-5{margin-bottom:5px !important}.mb-10{margin-bottom:10px !important}.mb-15{margin-bottom:15px !important}.mb-20{margin-bottom:20px !important}.mb-25{margin-bottom:25px !important}.mb-30{margin-bottom:30px !important}.mb-35{margin-bottom:35px !important}.mb-40{margin-bottom:40px !important}.mb-45{margin-bottom:45px !important}.mb-50{margin-bottom:50px !important}.mb-55{margin-bottom:55px !important}.mb-60{margin-bottom:60px !important}.mb-65{margin-bottom:65px !important}.mb-70{margin-bottom:70px !important}.mb-75{margin-bottom:75px !important}.mb-80{margin-bottom:80px !important}.mb-85{margin-bottom:85px !important}.mb-90{margin-bottom:90px !important}.mb-95{margin-bottom:95px !important}.mb-100{margin-bottom:100px !important}.mt-0{margin-top:0px !important}.mt-5{margin-top:5px !important}.mt-10{margin-top:10px !important}.mt-15{margin-top:15px !important}.mt-20{margin-top:20px !important}.mt-25{margin-top:25px !important}.mt-30{margin-top:30px !important}.mt-35{margin-top:35px !important}.mt-40{margin-top:40px !important}.mt-45{margin-top:45px !important}.mt-50{margin-top:50px !important}.mt-55{margin-top:55px !important}.mt-60{margin-top:60px !important}.mt-65{margin-top:65px !important}.mt-70{margin-top:70px !important}.mt-75{margin-top:75px !important}.mt-80{margin-top:80px !important}.mt-85{margin-top:85px !important}.mt-90{margin-top:90px !important}.mt-95{margin-top:95px !important}.mt-100{margin-top:100px !important}.ml-0{margin-left:0px !important}.ml-5{margin-left:5px !important}.ml-10{margin-left:10px !important}.ml-15{margin-left:15px !important}.ml-20{margin-left:20px !important}.ml-25{margin-left:25px !important}.ml-30{margin-left:30px !important}.ml-35{margin-left:35px !important}.ml-40{margin-left:40px !important}.ml-45{margin-left:45px !important}.ml-50{margin-left:50px !important}.ml-55{margin-left:55px !important}.ml-60{margin-left:60px !important}.ml-65{margin-left:65px !important}.ml-70{margin-left:70px !important}.ml-75{margin-left:75px !important}.ml-80{margin-left:80px !important}.ml-85{margin-left:85px !important}.ml-90{margin-left:90px !important}.ml-95{margin-left:95px !important}.ml-100{margin-left:100px !important}.mr-0{margin-right:0px !important}.mr-5{margin-right:5px !important}.mr-10{margin-right:10px !important}.mr-15{margin-right:15px !important}.mr-20{margin-right:20px !important}.mr-25{margin-right:25px !important}.mr-30{margin-right:30px !important}.mr-35{margin-right:35px !important}.mr-40{margin-right:40px !important}.mr-45{margin-right:45px !important}.mr-50{margin-right:50px !important}.mr-55{margin-right:55px !important}.mr-60{margin-right:60px !important}.mr-65{margin-right:65px !important}.mr-70{margin-right:70px !important}.mr-75{margin-right:75px !important}.mr-80{margin-right:80px !important}.mr-85{margin-right:85px !important}.mr-90{margin-right:90px !important}.mr-95{margin-right:95px !important}.mr-100{margin-right:100px !important}.pb-0{padding-bottom:0px !important}.pb-5{padding-bottom:5px !important}.pb-10{padding-bottom:10px !important}.pb-15{padding-bottom:15px !important}.pb-20{padding-bottom:20px !important}.pb-25{padding-bottom:25px !important}.pb-30{padding-bottom:30px !important}.pb-35{padding-bottom:35px !important}.pb-40{padding-bottom:40px !important}.pb-45{padding-bottom:45px !important}.pb-50{padding-bottom:50px !important}.pb-55{padding-bottom:55px !important}.pb-60{padding-bottom:60px !important}.pb-65{padding-bottom:65px !important}.pb-70{padding-bottom:70px !important}.pb-75{padding-bottom:75px !important}.pb-80{padding-bottom:80px !important}.pb-85{padding-bottom:85px !important}.pb-90{padding-bottom:90px !important}.pb-95{padding-bottom:95px !important}.pb-100{padding-bottom:100px !important}.pt-0{padding-top:0px !important}.pt-5{padding-top:5px !important}.pt-10{padding-top:10px !important}.pt-15{padding-top:15px !important}.pt-20{padding-top:20px !important}.pt-25{padding-top:25px !important}.pt-30{padding-top:30px !important}.pt-35{padding-top:35px !important}.pt-40{padding-top:40px !important}.pt-45{padding-top:45px !important}.pt-50{padding-top:50px !important}.pt-55{padding-top:55px !important}.pt-60{padding-top:60px !important}.pt-65{padding-top:65px !important}.pt-70{padding-top:70px !important}.pt-75{padding-top:75px !important}.pt-80{padding-top:80px !important}.pt-85{padding-top:85px !important}.pt-90{padding-top:90px !important}.pt-95{padding-top:95px !important}.pt-100{padding-top:100px !important}.pl-0{padding-left:0px !important}.pl-5{padding-left:5px !important}.pl-10{padding-left:10px !important}.pl-15{padding-left:15px !important}.pl-20{padding-left:20px !important}.pl-25{padding-left:25px !important}.pl-30{padding-left:30px !important}.pl-35{padding-left:35px !important}.pl-40{padding-left:40px !important}.pl-45{padding-left:45px !important}.pl-50{padding-left:50px !important}.pl-55{padding-left:55px !important}.pl-60{padding-left:60px !important}.pl-65{padding-left:65px !important}.pl-70{padding-left:70px !important}.pl-75{padding-left:75px !important}.pl-80{padding-left:80px !important}.pl-85{padding-left:85px !important}.pl-90{padding-left:90px !important}.pl-95{padding-left:95px !important}.pl-100{padding-left:100px !important}.pr-0{padding-right:0px !important}.pr-5{padding-right:5px !important}.pr-10{padding-right:10px !important}.pr-15{padding-right:15px !important}.pr-20{padding-right:20px !important}.pr-25{padding-right:25px !important}.pr-30{padding-right:30px !important}.pr-35{padding-right:35px !important}.pr-40{padding-right:40px !important}.pr-45{padding-right:45px !important}.pr-50{padding-right:50px !important}.pr-55{padding-right:55px !important}.pr-60{padding-right:60px !important}.pr-65{padding-right:65px !important}.pr-70{padding-right:70px !important}.pr-75{padding-right:75px !important}.pr-80{padding-right:80px !important}.pr-85{padding-right:85px !important}.pr-90{padding-right:90px !important}.pr-95{padding-right:95px !important}.pr-100{padding-right:100px !important}.sys-msg{background-color:#423333;background-color:rgba(255,255,255,0.2);background-position:13px center;background-repeat:no-repeat;padding:10px;margin:2px 0 15px 0;color:#fff;font-size:13px;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px;position:relative}.sys-msg.nobg{background-color:transparent}.sys-msg a{color:#fff}.sys-msg.info{border:solid 1px #1b8ad0;background-color:#2fa9f6}.sys-msg.error{border:solid 1px #dd3519;background-color:#f64b2f}.sys-msg.warning{border:solid 1px #eab525;background-color:#f6ca2f;color:#333}.sys-msg.success{border:solid 1px #689d1b;background-color:#7eb62e}.sys-msg p{margin:0 0 5px 0}.sys-msg p:last-child{margin-bottom:0}.sys-msg p.last{margin-bottom:0}.sys-msg ul{margin:0 0 5px 0}.sys-msg ul:last-child{margin-bottom:0}.sys-msg ul.last{margin-bottom:0}.sys-msg li{padding-bottom:4px;margin-left:20px}.sys-msg ul li{list-style:outside square}.sys-msg ol li{list-style:outside decimal}.sys-msg a{text-decoration:underline}.page-inner{max-width:1100px;min-width:300px;display:block;margin:0 auto}