
// Fonts
/*@import url(https://fonts.googleapis.com/css?family=Hind:300,400,600&subset=latin-ext);*/

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/* BOOK specific */

.header-block {
	//background: $c-purple;

	background: -moz-linear-gradient(top, #0445a3 0%, #022251 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0445a3), color-stop(100%,#022251));
	background: -webkit-linear-gradient(top, #0445a3 0%,#022251 100%);
	background: -o-linear-gradient(top, #0445a3 0%,#022251 100%);
	background: linear-gradient(to bottom, #0445a3 0%,#022251 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#0445a3', endColorstr='#022251');
	margin-bottom: 15px;

	a {
		color: #fff;
		position: relative;
		float: left;

		&:hover {
			opacity: .8;
		}

		strong {
			position: absolute;
			top: 42px;
			left:0;
		}
	}

	.page-header {
		border-bottom: none;
		margin: 70px 0 10px;
	}

	.book-logo {
		float: right;
		padding-top: 27px;

		img {
			height: 20px;
		}

		@media (max-width: 500px) {
			float: left;
			clear: both;
			padding-top: 10px;
		}
	}
}

.footer-block {
	background: $c-blue;
	color: #fff;
	padding-top: 20px;
	padding-bottom: 10px;
	font-size: 13px;

	a {
		color: #fff;
		text-decoration: underline;

		&:hover {
			opacity:.8;
		}
	}
}

.container {
	box-shadow: 0 4px 10px rgba(19,2,28,0.75);
}

.panel {
	border: solid 1px #e1e1e1;

	.panel-heading {
		color: $c-blue;
		font-weight: bold;
		margin: 0;
		padding: 15px;
		font-size: 15px;
		font-weight: bold;

		small {
			color: #A1A1A1;
			font-size: 12px;
			font-weight: normal;
		}

		h4 {
			margin: 0;
			padding: 0;
			font-size: 15px;
			font-weight: bold;

			a {
				color: #444444;
			}

			.pull-right {
				font-size: 13px;
				color: $c-blue;
			}
		}
	}

	&.sub {
		margin-left: 30px;
		background: #fcfcfc;

		margin-top: -5px;

		.panel-heading {
			padding: 10px 15px 10px 10px;

			h4 {
				font-size: 13px;
			}
		}
	}

	.panel-body {
		padding-top: 0;
	}
}

.news-list-block {

	.panel {
		margin-bottom: 10px;
	}
}

.navbar {
	background: #46226a;
	border-radius: 0 !important;
	margin-top: 4px;
	min-height: 26px;
}

.navbar-nav {
	a {
		border-right: solid 1px #ae90c6;
		color: #fff;
		text-transform: uppercase;

		&:hover,
		&:focus {
			background: #36155a !important;
		}

		.modal-body & {
			border-right: none;
			font-size: 18px;
		}
	}
}


@media (min-width: 768px) {
	.navbar-nav > li > a {
		padding-top: 4px;
		padding-bottom: 3px;
	}

	.navbar-collapse {
		padding-left: 0;
		padding-right: 0;
	}
}

.navbar-toggle {
	color: #fff;
	font-size: 15px;
}

.panel {

	&.panel-info,
	&.panel-success,
	&.panel-warning,
	&.panel-danger {
		.panel-heading {
			color: #444;
		}
	}
}

/* ARTICLE */
.article-block {

	.h1,
	.h2,
	.h3,
	.h4,
	.h5 {
		margin: 0;
		padding: 0;
	}

}

.plain-text {
	color: #444;
}

/* MIN CONTENT HEIGHT */
.content-main-block {
	min-height: calc(100vh - 70px);
}

/* BREADCRUMB */
.breadcrumb-wrapper {
	position: relative;
	color: $c-blue;
	//background: #46226a;
	//color: #fff;
	&:before {
		content: "";
		left: 0;
		right: 0;
		top: 0;
		position: absolute;
		display: block;

		background: rgba(242,242,242,1);
		background: -moz-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(254,254,254,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242,242,242,1)), color-stop(100%, rgba(254,254,254,1)));
		background: -webkit-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(254,254,254,1) 100%);
		background: -o-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(254,254,254,1) 100%);
		background: -ms-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(254,254,254,1) 100%);
		background: linear-gradient(to bottom, rgba(242,242,242,1) 0%, rgba(254,254,254,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#fefefe', GradientType=0 );

		height: 33px;
		//margin-left: -10px;
		//margin-right: -10px;

	}

	.breadcrumb {
		background: none;
		position: relative;
	}

	a {
		color:$c-blue;
		text-decoration: underline;

		&:hover {
			opacity:.8;
		}
	}
}

/* GENERAL TITLE */

.general-title {
	position: relative;
	color: $c-blue;
	//background: #46226a;
	//color: #fff;
	&:before {
		content: "";
		left: 0;
		right: 0;
		top: 0;
		position: absolute;
		display: block;

		background: rgba(242,242,242,1);
		background: -moz-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(254,254,254,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242,242,242,1)), color-stop(100%, rgba(254,254,254,1)));
		background: -webkit-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(254,254,254,1) 100%);
		background: -o-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(254,254,254,1) 100%);
		background: -ms-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(254,254,254,1) 100%);
		background: linear-gradient(to bottom, rgba(242,242,242,1) 0%, rgba(254,254,254,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#fefefe', GradientType=0 );

		height: 33px;
		//margin-left: -10px;
		//margin-right: -10px;
		  
	}

	> * {
		position: relative;
		padding: 15px;
	}
}

/* SEARCH FIX */
.btn-search {
	font-size: 16px;
    padding-top: 7px;
    padding-bottom: 2px;
}

.panel-search {
	.input-group {
		.form-control {
			border-radius: 20px 0 0 20px !important;
		}
	}
}
/* BTN ACCOMODATION TO HVG */
.btn {
	border-radius: 20px;
}

/* PROJECT SPECIFIC STYLES FROM BASE */

.form-group .alert {
	display: block;
	margin-top: 15px;
	margin-bottom: 0;
	padding: 5px;
}

.modal-backdrop.in {
	opacity: .65;
	filter: alpha(opacity=65);
}

#modal-gallery button.close {
	opacity: .65;
	float: none;
	position: absolute;
	top: 10px;
	right: 20px;
	z-index: 10;
	width: 40px;
	color: white;
	font-size: 40px;
	line-height: 40px;
}

#modal-gallery button.close:focus {
	outline: none;
}

#modal-gallery button.close:hover {
	opacity: 1;
	color: white;
}

#modal-gallery .modal-content {
	background-color: transparent;
	border: 0;
	border-radius: 0;
	box-shadow: none;
}

#modal-gallery .modal-body {
	padding: 0;
}

@media (min-width: 768px) {
	#modal-gallery .modal-dialog {
		max-width: 1100px;
		width: 100%;
	}
}

#modal-gallery .carousel-inner {
	height: 90vh;
}

#modal-gallery .carousel-inner > .item {
	height: 100%;
}

#modal-gallery .carousel-inner > .item > img,
#modal-gallery .carousel-inner > .item > a > img {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	max-height: 90vh;
	margin-left: auto;
	margin-right: auto;
}

#modal-gallery .carousel-control {
	opacity: .8;
	z-index: 1;
	width: 10%;
	background-image: none !important;
}