/*! fontok */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,400italic,600,600italic,700italic,700&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,300italic,300&subset=latin,latin-ext);

/*! általános felépítés */
body {
	background:#e4e7ea;
	min-height: 100%;
	color:#4C5661;
}

body, html {
	font-family: 'Source Sans Pro', sans-serif;
	height:100%;
	overflow-x:hidden;
}

@media (max-width: 991px) {
	body, html {
		height:auto;
	}
}

#page {
	position:relative;
	min-height:100%;
}

@media (min-width: 991px) {	
	body.width-80 #page {
		width:90%;
		margin:0 auto;
		overflow:hidden;
	}
	
	body.width-60 #page {
		width:80%;
		margin:0 auto;
		overflow:hidden;
	}
	
	body.width-80 #content .header, body.width-60 #content .header {
		border-right:1px solid #D3D7DB;
	}
	
	body.width-80 #content-inner, body.width-60 #content-inner {
		padding:20px 0;
		-webkit-transition:padding 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
		-moz-transition:padding 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
		-o-transition:padding 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
		transition:padding 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
		-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		-moz-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		-o-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
	}
	
	body.width-80.nav-open #content-inner, body.width-60.nav-open #content-inner {
		padding-left:20px;
	}
	
	body.positon-nav-f #navigation {
		position:fixed;
		left:auto !important;
	}
	
	body.positon-nav-f #content {
		margin-left:230px;
	}
	
	body.positon-nav-f #content .header #nav-collapse {
		display:none;
	}
}

@media (min-width: 1170px) {
	body.width-60 #page {
		width:70%; 
	}
	body.width-80 #page {
		width:80%;
	}
}

@media (min-width: 1580px) {
	body.width-60 #page {
		width:60%;
	}
}
/*! segítő */
.nomargin {
	margin:0 !important;
}

.nopadding {
	padding:0 !important;
}

.valign-middle td, .valign-middle th {
	vertical-align:middle !important;
}

.mb10 {
	margin-bottom:10px;
}

.mb15 {
	margin-bottom:15px;
}

.mb20 {
	margin-bottom:20px;
}

.mt10 {
	margin-top:10px;
}

.mt15 {
	margin-top:15px;
}

.mt20 {
	margin-top:20px;
}

/*! skin */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p {
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}

a {
	color:#3E4B5C;
	transition: color 0.2s linear 0s;
}

a:hover, a:focus {
	color:#e24451;
	text-decoration:none;
}

.dropdown-menu {
	top:100%;
	padding:0;
	margin-top:5px;
}

.dropdown-menu li {
	border-bottom: 1px solid #E6E6E6;
}

.dropdown-menu li a {
	color:#4C5661;
	padding: 8px 15px;
	transition: all 0.2s linear 0s;
	cursor:pointer;
}

.dropdown-menu li a:hover {
	background:none;
	color:#e24451;
}

.dropdown-menu li:last-child {
	border-bottom:0;
	
}

#navigation .dropdown-menu:before {
  position: absolute;
  top: -10px;
  left:50%;
  margin-left:-11px;
  display: inline-block;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ccc;
  border-left: 10px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

#navigation .dropdown-menu {
	margin-top:10px;
}

#navigation .dropdown-menu:after {
  position: absolute;
  top: -9px;
  left:50%;
  margin-left:-10px;
  display: inline-block;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #ffffff;
  border-left: 9px solid transparent;
  content: '';
}

.jumbotron {
	padding:20px;
}

.jumbotron h1, .jumbotron .h1 {
	font-size:54px;
}

.panel {
	border-radius:2px;
	-wekit-border-radius:2px;
	-mozd-border-radius:2px;
}

.panel-default {
	border-color:#D3D7DB;
}

.panel-heading {
	background-color:#F7F7F7;
    border-color:#D3D7DB;
    color:#4C5661;
	font-size:16px;
	font-weight:600;
	border-radius:0;
	-wekit-border-radius:0;
	-mozd-border-radius:0;
}

.panel-heading small.edittext {
	color:#999;
}

.btn {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:600;
	border:0;
}

.btn-primary {
	background-color: #4C5661;
    border-color: #434c55;
    color: #FFFFFF;
	border-bottom-color:#31373e;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
	color: #fff;
	background-color: #3a414a;
	border-color: #434c55;
	border-bottom-color:#31373e;
}

.btn-default {
	background-color: #dee3e6;
	border-color:#ced2d5;
    border-bottom-color: #96999b;
    color: #6c7481;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
	background-color: #ced2d5;
    border-color: #ced2d5;
	border-bottom-color: #96999b;
    color: #6c7481;
}

.btn-success {
	color: #fff;
	background-color: #57af57;
	border-color:#51a251;
	border-bottom-color: #398439;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
	color: #fff;
	background-color: #51a251;
	border-color:#51a251;
	border-bottom-color:#3b763b;
}

.btn-info {
	color: #fff;
	background-color: #56b6d3;
	border-color: #50a9c3;
	border-bottom-color:#3a7b8e;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
	color: #fff;
	background-color: #50a9c3;
	border-color: #50a9c3;
	border-bottom-color:#3a7b8e;
}

.btn-warning {
	color: #fff;
	background-color: #e4a44a;
	border-color: #d39845;
	border-bottom-color:#996f32;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
	color: #fff;
	background-color: #b7843b;
	border-color: #d39845;
	border-bottom-color:#996f32;
}

.btn-danger {
	color: #fff;
	background-color: #ce4f4b;
	border-color: #bf4945;
	border-bottom-color:#8b3532;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
	color: #fff;
	background-color: #a53f3c;
	border-color: #bf4945;
	border-bottom-color:#8b3532
}

label {
	font-weight:600;
}

.form-control {
	border:1px solid #D3D7DB;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	border-radius:2px;
	-wekit-border-radius:2px;
	-mozd-border-radius:2px;
}

.form-control:focus {
	border:1px solid #999;
	box-shadow:none !important;
	-webkit-box-shadow:none !important;
	-moz-box-shadow:none !important;
}

input[type="file"] {
	height:auto !important;
}

.middle-align {
	vertical-align:middle !important;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	background:#4C5661;
}

.pagination > li > a, .pagination > li > span {
	color:#3E4B5C;
}

.pagination > li > a:hover, .pagination > li > span:hover {
	color:#e24451;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus  {
	background:#3E4B5C;;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	border:0;
	border-bottom:2px solid #e24451;
	color:#e24451
}

.nav > li > a:hover, .nav > li > a:focus {
	background:none;
	border-color:transparent;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
	background:none;
	border-color:transparent;
}

.pager-select {
	padding:5px;
}

@media (max-width: 768px) {
	.breadcrumb a {
		display:none;
	}
	
	.breadcrumb > li + li:before {
		content:"";
		padding:0;
	}
	
	.breadcrumb > li {
		padding:0;
	}
}

.breadcrumb {
	float:left;
	background:none !important;
	padding:0;
	margin:22px 0 0 15px;
	font-size:14px;
}

.breadcrumb > .active {
	color:#4c5661;
}

.breadcrumb a {
	color:#999;
}

.breadcrumb a:hover {
	color:#E24451;
}

.breadcrumb .fa {
	font-size:16px;
	margin-right:5px;
}

.input-group-btn > .btn {
	padding:7px 12px;
}

.glyphicon {
	top:2px;
}

@media (min-width: 768px) {
.table-responsive .table{
	border:1px solid #ddd;
}
}

.table-sort-icon {
	margin-left:5px;
}

.table-sort-icon.active {
	color:#e24451;
}

.table > thead > tr > th {
	background:#f7f7f7;
}

@media (min-width: 768px) {
	/*! szűrő */
	.table-filter {
		float:left;
		margin:0;
		height:auto;
		min-height:20px;
		padding:3px;
	}
	
	.table-filter .container-fluid {
		padding:0;
	}
	
	.table-filter .navbar-brand {
		font-size:12px;
		height:30px;
		line-height:29px;
		padding:0;
		margin:0 10px 0 6px !important;	
	}
	
	.table-filter .navbar-form {
		margin:0;
		padding:0;
	}
	
	.table-filter #filter {
		float:left;
		margin:0;
		padding:0;
	}
}

/*! lapozó */
.pagination-select {
	display:none;
}
@media (max-width: 768px) {
	.pagination-normal {
		display:none;
	}
	
	.pagination-select {
		display:block;
	}
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	color:#4c5661;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
	background: #4c5661;
	color:#fff;
	border-color:#4c5661;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	color:#e24451;
}

/*! ikonlista */
.icon-list {
	font-size:16px;
}

.icon-list div {
	margin-bottom:5px;
}

.icon-list div:hover {
	color:#e24451;
}

.icon-list .fa, .icon-list .glyphicon {
	display:inline-block;
	width:16px;
	height:16px;
	margin-right:5px;
}

textarea.form-control {
	max-width:100%;
	min-width:100%;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	background:#4c5661;
	border-color:#4c5661;
}

/*! tree table */
.tree-table .lvl-1 {
	padding-left:40px;
}

.tree-table .lvl-2 {
	padding-left:80px;
}

.tree-table .lvl-3 {
	padding-left:120px;
}

.tree-table .lvl-4 {
	padding-left:160px;
}

.tree-table .lvl-5 {
	padding-left:200px;
}

.tree-table .lvl-6 {
	padding-left:240px;
}

.tree-table .lvl-7 {
	padding-left:280px;
}

.tree-table .lvl-8 {
	padding-left:320px;
}

.tree-table .lvl-9 {
	padding-left:360px;
}

.tree-table .lvl-10 {
	padding-left:400px;
}

/*! belépés */

/*! navigáció */
#navigation {
	position:absolute;
	left:-240px;
	top:0;
	bottom:0;
	width:240px;
	background:#2a313a;
	border-right:1px solid #3c434d;
	overflow-y:auto;
	-ms-overflow-style: none;
	-webkit-transition:left 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
	-moz-transition:left 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
	-o-transition:left 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
	transition:left 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
	-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	-moz-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	-o-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
}

#navigation::-webkit-scrollbar { 
    display: none; 
}

#navigation .header {
	background:#3e4b5c;
	height:65px;
	z-index:2;
}

#navigation .header .avatar {
	float:left;
	margin:12px 15px;
	width:41px;
	height:41px;
	overflow:hidden;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
}

#navigation .header .avatar img {
	width:41px;
	height:41px;
}

#navigation .header .user {
	margin:22px 0;
}

#navigation .header .user > a {
	color: #F0F5FA;
	font-size: 15px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	cursor:pointer;
}

#navigation .header .user > a:hover {
	text-decoration:none;
}

#navigation .header .user b {
	margin:-1px 0 0 5px;
}

#navigation .header .fa {
	float:right;
	font-size:24px;
	margin:10px 15px 0 0;
	cursor:pointer;
}

#navigation .header .dropdown-menu {
	left:35px;
}

#navigation .blocktitle {
	color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 0.5px;
	padding:10px 15px 3px;
    text-shadow: 1px 1px #000000;
    text-transform: uppercase;
	margin:20px 0 0 0;
}

#navigation .nav > li > a, #navigation .nav .dropdown-menu a {
	display:block;
    color: #ECF6FF;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    transition: background 0.05s linear 0s;
	cursor:pointer;
	margin:2px 0;
}

#navigation .nav > li > a:hover, #navigation .nav .dropdown-menu a:hover {
	background:#3E4B5C;
}

#navigation .nav > li > a:focus {
	background:none;
}

#navigation .nav a b {
	float:right;
	margin-top:9px;
}

#navigation .nav li.disabled a {
	cursor:not-allowed;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	opacity: 0.5;
}

#navigation .nav li.active > a {
	background: #5b6479;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzViNjQ3OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0YzU1NjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #5b6479 0%, #4c5566 100%) !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5b6479), color-stop(100%,#4c5566)) !important;
	background: -webkit-linear-gradient(top, #5b6479 0%,#4c5566 100%) !important;
	background: -o-linear-gradient(top, #5b6479 0%,#4c5566 100%) !important;
	background: -ms-linear-gradient(top, #5b6479 0%,#4c5566 100%) !important;
	background: linear-gradient(to bottom, #5b6479 0%,#4c5566 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b6479', endColorstr='#4c5566',GradientType=0 ) !important;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.16) inset;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

#navigation .nav li.active .dropdown-menu {
	display:block;
}

#navigation .nav li.open > a {
	background:#3E4B5C;
}

#navigation .nav .fa {
	margin-right:10px;
	width:14px;
}

#navigation .nav .dropdown-menu {
	position:relative;
	background:#1f252b;
	box-shadow:none;
	border:none;
	float:none;
	margin:0;
}

#navigation .nav .dropdown-menu a {
	padding-left:43px;
}

#navigation .nav .dropdown-menu li {
	border:0;
}

#navigation .nav .dropdown-menu li.open a {
	background:none;
	color:#e24451;
}

#navigation .nav .dropdown-menu:before, #navigation .nav .dropdown-menu:after {
	display:none;
}

body.nav-open #navigation {
	left:0px;
}
/*! tartalom alap */

#content {
	margin-left:0;
	min-height:500px;
	-webkit-transition:margin 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
	-moz-transition:margin 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
	-o-transition:margin 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
	transition:margin 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */	
	-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	-moz-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	-o-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
}

body.nav-open #content {
	margin-left:240px;
}

#content .header {
	z-index:1;
	width:100%;
	background:#f7f7f7;
	color:#4C5661;
	font-size:18px;
	height:66px;
	border-bottom:1px solid #d3d7db;
}

#content .header #nav-collapse, #content #nav-settings {
	float:left;
	font-size:24px;
	margin:15px 20px;
	cursor:pointer;
	color:#4C5661;
}

#content .header #nav-collapse {
	margin-right:0;
}

#content .header #nav-collapse:hover, #content #nav-settings:hover {
	color:#e24451; 
}

#content #nav-settings {
	float:right;
	margin-left:0;
}

#content .header .title {
	float:left;
	margin:22px 0 0 15px;
	font-size:18px;
}

#content-inner {
	padding:20px;
}

#content-inner #ajaxcontent > h2.title, #content-inner > h2.title {
	margin:10px 0;
	font-size:24px;
}

@media (max-width: 991px) {
	body.nav-open #content {
		margin-right:-230px;
	}
}

/* tinyfix on mobile browsers, I set a width of 100% */
table.mceLayout, textarea.tinyMCE {
    width: 100% !important;
}

/* make the toolbar wrap */
.mceToolbar td {
    display:table-row;
    float: left;
	height:20px;
}

/* tinyfix on large screens, I use a different layout, so 600px are sufficient 
@media only screen and (min-width: 600px) {
    table.mceLayout, textarea.richEditor {
       width: 600px !important;
    }
}*/

/*! timepicker custom */
/*!
 * Datepicker for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */
.bootstrap-datetimepicker-widget ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

.bootstrap-datetimepicker-widget ul li {
	padding:0;
}

.bootstrap-datetimepicker-widget .prev, .bootstrap-datetimepicker-widget .switch, .bootstrap-datetimepicker-widget .next {
	text-align:center;
}

.bootstrap-datetimepicker-widget .picker-switch a {
	display:block;
	padding:7px 0;
	text-align:center;
}

.bootstrap-datetimepicker-widget .picker-switch a:hover {
	color:#e24451;
}
 
.hide-text {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0
}
.input-block-level {
	display: block;
	width: 100%;
	min-height: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
.bootstrap-datetimepicker-widget {
	top: 0;
	left: 0;
	width: 250px;
	padding: 4px;
	margin-top: 1px;
	z-index: 3000;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px
}
.bootstrap-datetimepicker-widget>ul {
	list-style-type: none;
	margin: 0
}
.bootstrap-datetimepicker-widget .timepicker-hour, .bootstrap-datetimepicker-widget .timepicker-minute, .bootstrap-datetimepicker-widget .timepicker-second {
	width: 100%;
	font-weight: bold;
	font-size: 1.2em
}
.bootstrap-datetimepicker-widget table[data-hour-format="12"] .separator {
	width: 4px;
	padding: 0;
	margin: 0
}
.bootstrap-datetimepicker-widget .datepicker>div {
	display: none
}
.bootstrap-datetimepicker-widget .picker-switch {
	text-align: center
}
.bootstrap-datetimepicker-widget table {
	width: 100%;
	margin: 0
}
.bootstrap-datetimepicker-widget td, .bootstrap-datetimepicker-widget th {
	text-align: center;
	width: 20px;
	height: 20px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px
}
.bootstrap-datetimepicker-widget td.day:hover, .bootstrap-datetimepicker-widget td.hour:hover, .bootstrap-datetimepicker-widget td.minute:hover, .bootstrap-datetimepicker-widget td.second:hover {
	background: #eee;
	cursor: pointer
}
.bootstrap-datetimepicker-widget td.old, .bootstrap-datetimepicker-widget td.new {
	color: #999
}
.bootstrap-datetimepicker-widget td.active, .bootstrap-datetimepicker-widget td.active:hover {
	color: #fff;
	background-color: #006dcc;
	background-image: -moz-linear-gradient(top, #08c, #04c);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#04c));
	background-image: -webkit-linear-gradient(top, #08c, #04c);
	background-image: -o-linear-gradient(top, #08c, #04c);
	background-image: linear-gradient(to bottom, #08c, #04c);
	background-repeat: repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
	border-color: #04c #04c #002a80;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
*background-color:#04c;
filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25)
}
.bootstrap-datetimepicker-widget td.active:hover, .bootstrap-datetimepicker-widget td.active:hover:hover, .bootstrap-datetimepicker-widget td.active:active, .bootstrap-datetimepicker-widget td.active:hover:active, .bootstrap-datetimepicker-widget td.active.active, .bootstrap-datetimepicker-widget td.active:hover.active, .bootstrap-datetimepicker-widget td.active.disabled, .bootstrap-datetimepicker-widget td.active:hover.disabled, .bootstrap-datetimepicker-widget td.active[disabled], .bootstrap-datetimepicker-widget td.active:hover[disabled] {
	color: #fff;
	background-color: #04c;
*background-color:#003bb3
}
.bootstrap-datetimepicker-widget td.active:active, .bootstrap-datetimepicker-widget td.active:hover:active, .bootstrap-datetimepicker-widget td.active.active, .bootstrap-datetimepicker-widget td.active:hover.active {
	background-color: #039 \9
}
.bootstrap-datetimepicker-widget td.disabled, .bootstrap-datetimepicker-widget td.disabled:hover {
	background: 0;
	color: #999;
	cursor: not-allowed
}
.bootstrap-datetimepicker-widget td span {
	display: block;
	width: 47px;
	height: 54px;
	line-height: 54px;
	float: left;
	margin: 2px;
	cursor: pointer;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px
}
.bootstrap-datetimepicker-widget td span:hover {
	background: #eee
}
.bootstrap-datetimepicker-widget td span.active {
	color: #fff;
	background-color: #006dcc;
	background-image: -moz-linear-gradient(top, #08c, #04c);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#04c));
	background-image: -webkit-linear-gradient(top, #08c, #04c);
	background-image: -o-linear-gradient(top, #08c, #04c);
	background-image: linear-gradient(to bottom, #08c, #04c);
	background-repeat: repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
	border-color: #04c #04c #002a80;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
*background-color:#04c;
filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25)
}
.bootstrap-datetimepicker-widget td span.active:hover, .bootstrap-datetimepicker-widget td span.active:active, .bootstrap-datetimepicker-widget td span.active.active, .bootstrap-datetimepicker-widget td span.active.disabled, .bootstrap-datetimepicker-widget td span.active[disabled] {
	color: #fff;
	background-color: #04c;
*background-color:#003bb3
}
.bootstrap-datetimepicker-widget td span.active:active, .bootstrap-datetimepicker-widget td span.active.active {
	background-color: #039 \9
}
.bootstrap-datetimepicker-widget td span.old {
	color: #999
}
.bootstrap-datetimepicker-widget td span.disabled, .bootstrap-datetimepicker-widget td span.disabled:hover {
	background: 0;
	color: #999;
	cursor: not-allowed
}
.bootstrap-datetimepicker-widget th.switch {
	width: 145px
}
.bootstrap-datetimepicker-widget th.next, .bootstrap-datetimepicker-widget th.prev {
	font-size: 21px
}
.bootstrap-datetimepicker-widget th.disabled, .bootstrap-datetimepicker-widget th.disabled:hover {
	background: 0;
	color: #999;
	cursor: not-allowed
}
.bootstrap-datetimepicker-widget thead tr:first-child th {
	cursor: pointer
}
.bootstrap-datetimepicker-widget thead tr:first-child th:hover {
	background: #eee
}
.bootstrap-datetimepicker-widget.left-oriented:before {
	left: auto;
	right: 6px
}
.bootstrap-datetimepicker-widget.left-oriented:after {
	left: auto;
	right: 7px
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }